body {
}
#main {
	background-color: #A0AEC1;
	background-size: 100%;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	transition: background-image 1.5s;
}

.beta {
	display: none;
}

.widget {
	background-color: rgba(219, 232, 249, .3);
	border-radius: 5px;
	position: absolute;
}

#settings {
	width: 20px;
	height: 20px;
	position: fixed;
	left: 15px;
	top: 15px;
	z-index: 1000;
	border-radius: 10px;
	background-size: 100%;
	background-image: url(gear.jpg);
	opacity: .6;
}
#settings:hover {
	cursor: pointer;
}

/*.cs_box_content table th:hover::after { 
  background-color: #ffa;
  content: '\00a0';  
	height: 10000px;    
	position: absolute;  
	top: -5000px;
	width: 157px;
	z-index: -1;        
	}*/



#greetings {
	width: 600px;
	height: 150px;
	background-color: white;

	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);

	font-size: 40px;
	text-align: center;
	border-radius: 10px;
}

#user_tiles_main {
	position: fixed;
	background-color: rgba(98,120,148,.3);
	width: 600px;
	height: 300px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	margin: auto;
	padding: 10px;

	transition: opacity .6s;
}

#user_tiles_main:hover {
	background-color: rgba(98,120,148,.5);
}

.user_tile {
	
	width: 155px;
	height: 128px;
	margin: auto;
	background-color: #627894;
	opacity: .5;
	border-radius: 5px;
	text-align: center;
}

.user_tile:hover {
	opacity: .9;
	cursor: pointer;
	z-index: 200;
}

.user_tile span {
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	line-height: 128px;
	color: #FFFFF8;
	font-weight: bold;
}

#academic_app {
	width: 200px;
	height: 250px;
	border-radius: 5px;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-right: 40px;
	margin-top: 40px;
}

#transportation_app {
	width: 200px;
	height: 250px;
	border-radius: 5px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 40px;
	margin-top: 40px;
}

#schedule_app {
	width: 800px;
	height: 90px;
	position: absolute;
	left: 0;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	margin-top: 20px;
	border-radius: 10px;
	opacity: .7;
	overflow: hidden;
	transition: height .6s;
}

#schedule_app:hover {
	opacity: .9;
}

#class_schedule {
	overflow: auto;
}

#announce_app {
	width: 600px;
	height: 40px;
	left: 50%;
	top: 0;
	margin-top: 175px;
	transform: translateX(-50%);
}
#socialmedia_app {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin-right: 40px;
	margin-bottom: 40px;
	opacity: .5;
	overflow: auto;
}

#socialmedia_app:hover{
	opacity: .9;
}


#campus_app {
	width: 200px;
	height: 250px;
	border-radius: 5px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	margin-left: 40px;
	margin-bottom: 40px;
}


#weather_app {
	width: 200px;
	height: 125px;
	border-radius: 5px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 280px;
	margin-top: 40px;
}

#bugs_message {
	position: absolute;
	background-color: rgba(255,255,255,.2);

	right: 0px;
	bottom: 0px;
	padding-right: 12px;
	padding-bottom: 10px;
	font-weight: bold;
	border-radius: 3px;
	opacity: .7;
}
